
.coustom-shadow{
    border-radius: 34px;
background: #545f83;
box-shadow: inset 15px 15px 30px #424a66,
            inset -15px -15px 30px #6674a0;

       
}

.img-shadow{
border-radius: 50%;
background: linear-gradient(145deg, #3d3f58, #33354a);
box-shadow:  26px 26px 51px #2f3043,
             -26px -26px 51px #434661;

}